langchain
langchain-community
python-dotenv
ipykernel
pypdf
beautifulsoup4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
langchain_chroma
faiss-cpu
huggingface_hub
langchain-core
langchain-community 
langchain-openai
streamlit
langchain-groq
fastapi
uvicorn
langserve
starlette
langchain-classic
sentence-transformers
arxiv
wikipedia
duckduckgo-search
validators==0.28.1
youtube_transcript_api
pytube youtube-transcript-api